.amazing__wrap{
    text-align: center;
}

.amazing__text{
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #888E9E;
}

.amazing__title{
    margin-top: 8px;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #23262F;
    margin-bottom: 32px;
}

.amazing__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    border: none;
    background-color: #3B70FC;
    padding: 12px 16px;
    transition: .45s;
    border-radius: 90px;

    &:hover{
        cursor: pointer;
    }

    &:active{
        transform: scale(.95);
        background-color: #7396f6;
    }
}

.amazing__instruc{
    margin-top: 92px;
    display: flex;
    gap: 24px;
}

.amazing__box{
    border-radius: 20px;
    padding: 64px 32px;
    background-color: #F4F5F6;
}

.amazing__name{
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:#23262F;
}

.amazing__picture{
    display: none;
}

.amazing__subname{
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color:#888E9E;
}

@media screen and (max-width: 950px) {
    .amazing__img{
        display: none;
    }

    .amazing__picture{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .amazing__instruc{
        display: block;
    }

    .amazing__box{
        width: auto;
        margin-bottom: 32px;
    }
}