.feedback__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #23262F;
    margin-bottom: 12px;
}

.feedback__arrow{
    display: none;
}

.feedback__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.01em;
    color: #777E90;
    margin-bottom: 48px;
}

.feedback__name{
    margin-top: 21px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #23262F;
}

.feedback__subname{
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #777E90;
}

.feedback__btn{
    margin-top: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #23262F;
    border: none;
    display: flex;
    align-items: center;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    padding: 16px 24px;
    transition: .45s;
    background-color: #fff;

    &:hover{
        cursor: pointer;
    }

    &:active{
        transform: scale(.95);
        background-color: azure;
    }

    &::after{
        content: " ";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 12px;
        background-repeat: no-repeat;
        background-image: url('../img/btn.svg');
        background-position: right;
    }
}

.feedback{
    margin: 20px;
    &__box{
        overflow: auto;
        padding-bottom: 20px;
    }
    &__wrapper{
        display: flex;
        gap: 16px;
    }
    &__card{
        width: 400px;
        min-width: 400px;
        height: 330px;
    }
}


@media (min-width: 1200px) {
    ::-webkit-scrollbar{
        width: 2px;
    }
    ::-webkit-scrollbar-thumb{
        background: #777E90;
        border-radius: 50px;
    }
    .feedback{
        &__box{
            &::-webkit-scrollbar{
                height: 2px;
            }
            &::-webkit-scrollbar-thumb{
                background: #777E90;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .feedback__arrow{
        display: block;
        margin-top: 24px;
    }

    .feedback__img{
        display: none;
    }
}